<div id="add-album" class="d-none text-white" style="text-align: center;">
    Agregar a album:
    <form action="/add-to-album" method="post" class="d-flex align-items-center justify-content-center">
        <input type="hidden" name="ids" class="form-control" style="width: 18rem;">
        <select name="albumid" class="form-select m-2"  style="width: 18rem;" >
            <% albums.forEach(album => { %>
             <option value="<%= album._id%>" style="width: 18rem;"><%= album.name%>  </option>
            <% }) %>
        </select>
        <input type="submit" value="Agregar" class="btn btn-primary">
    </form>
</div>

<div class="gallery">
    <% photos.forEach(photo => { %>
        <div class="card">
            <a href="/view/<%= photo._id%>?origin=<%= origin%>">
                <img src="http://localhost:8088/images/<%= photo.filename%>" class="card-img-top">
            </a>

            <div class="card-body d-flex justify-content-center ">
                <% if (photo.userid === user._id) {
                    if (photo.favorite) { %> 
                    <form action="/remove-favorite" method="post">
                    <input type="hidden" name="photoid" value="<%= photo._id %> ">
                    <input type="hidden" name="origin" value="<%= origin %> ">
                    <button class="btn btn-danger m-1">Remove Favorite</button>
                    </form>
                    <% }else{ %>
                        <form action="/add-favorite" method="post">
                        <input type="hidden" name="photoid" value="<%= photo._id %> ">
                        <input type="hidden" name="origin" value="<%= origin %> ">
                        <button class="btn btn-danger m-1">Favorite</button>
                        </form>  
                    <% } %>   
                <% } %>  
                <div class="select-container d-flex align-items-center">
                    <input type="checkbox" class="select-photo" value="<%= photo._id%> ">
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script>
     const checkboxes = document.querySelectorAll('.select-photo');

    checkboxes.forEach( checkbox => {
        checkbox.addEventListener("click",(e)=>{
            if (checkSelected()) {
                addSelectedPhotos();
                document.querySelector("#add-album").classList.remove('d-none');
            }else{
                document.querySelector("#add-album").classList.add('d-none');
            }
        });
    });

    function checkSelected() {
        let selected= false;
        checkboxes.forEach( checkbox => {
            if (checkbox.checked) {
                selected = true;
            }
        });
        return selected;
    }


    function addSelectedPhotos() {
        const cb = document.querySelectorAll('.select-photo:checked');
        const ids = [...cb].map(c => c.value);
        document.querySelector('input[name = "ids"]').value = ids.join(',');
    }

</script>